// Define variables for your color scheme

// For example:
$red: #DD3434;
$fadedred: #fdb3b3;
$gold: #E5B707;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
