.sign-in {
  text-align: center;
  }

#form {
  margin: auto;
  width: 300px;
}

#sign-up-button {
  text-decoration: none;
  color: black;
}

#forgot {
  text-decoration: none;
  color: black;
}

.bottom-photo {
  height: 200px;
}
