<div class="footer pt-2">
  <div class="d-flex flex-row justify-content-center footer-links" style="
    border-top: solid 1px grey;">
  <div class="p-3" id="footer-icon">
    <a href="#"><i class="fa-solid fa-utensils"style="color: black;padding-left: 4px;"></i></a>
    <p>EAT</p>
  </div>
  <div class="p-3" id="footer-icon">
    <a href="#"><i class="fa-solid fa-bed"style="color: black;padding-left: 4px;"></i></a>
    <p>STAY</p>
  </div>
  <div class="p-3" id="footer-icon">
    <a href="#"><i class="fa-solid fa-people-group"style="color: black;padding-left: 6px;"></i></a>
    <p>WHO</p>
  </div>
  <div class="p-3" id="footer-icon">
    <a href="#"><i class="fa-solid fa-car"style="color: black;padding-left: 3px;"></i></a>
    <p>GO</p>
  </div>
  <div class="p-3" id="footer-icon">
    <a href="#"><i class="fa-solid fa-champagne-glasses"style="color: black;padding-left: 6px;"></i></a>
    <p>PLAY</p>
  </div>
  <div class="p-3" id="footer-icon">
    <a href="#"><i class="fa-solid fa-calendar-days"style="color: black;padding-left: 12px;"></i></a>
  <p>PLAN</p>
  </div>
  </div>
</div>
