<div class="footer mx-3 pt-3" style="border: solid 1px light grey; border-radius: 50px"%>
  <div class="d-flex flex-row justify-content-center footer-links">
  <div class="px-3 mx-0" id="footer-icon">
    <a href="#"><i class="fa-solid fa-utensils"style="color: black;font-size: 25px"></i></a>
    <%# <p>EAT</p> %>
  </div>
  <div class="px-2 mx-1" id="footer-icon">
    <a href="#"><i class="fa-solid fa-bed"style="color: black;font-size: 25px"></i></a>
    <%# <x>STAY</p> %>
  </div>
  <div class="px-2 mx-1" id="footer-icon">
    <a href="#"><i class="fa-solid fa-people-group"style="color: gold; font-size: 25px"></i></a>
    <%# <p>WHO</p> %>
  </div>
  <div class="px-2 mx-1" id="footer-icon">
    <a href="#"><i class="fa-solid fa-car"style="color: black;font-size: 25px;"></i></a>
    <p style="padding-left: 4px"></p>
  </div>
  <div class="px-2 mx-1" id="footer-icon">
    <a href="#"><i class="fa-solid fa-champagne-glasses"style="color: black;font-size: 25px"></i></a>
    <%# <p>PLAY</p> %>
  </div>
  <div class="px-2 mx-0" id="footer-icon">
    <a href="#"><i class="fa-solid fa-calendar-days"style="color: black;font-size: 25px; padding-left: 7px"></i></a>
  <%# <p>PLAN</p> %>
  </div>
  </div>
</div>
