
<div class="page-container">
  <div class="form-container" style="padding-bottom: 80px"><%= render "form" %></div>
  <div class="content-container"><%= yield %></div>
  <div class="image-container"><img height="300" src="/assets/couple-4cf567e5a565750e3997e05ee6b22549a96b2eacbd73e9a9af5430871619ff85.jpg"></div>
</div>
