
<div class="page-container text-center">
  <div class="form-container m-3" style="padding-bottom: 80px"><%= render "form" %></div>
  <div class="content-container"><%= yield %></div>
  <div class="image-container"><%= image_tag 'party3.jpg', style: "height: 300px" %></div>
</div>
