
<div class="page-container">
  <div class="form-container m-3" style="padding-bottom: 80px"><%= render "form" %></div>
  <div class="content-container"><%= yield %></div>
  <div class="image-container"><img height="300" src="/assets/party3.jpg"></div>
</div>
