<h1 class='text-center bg-white'>The D<span>O</span></h1>
<p class='text-center bg-white'>Do it right</p>
<div class="banner d-flex justify-content-center align-items-center" id="top-banner">
  <div class="text-center">
    <p>The ultimate planning app</p>
    <%= link_to 'Plan your DO', new_user_registration_path, class: "btn btn-primary"%>
  </div>
</div>
<div class="container ">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusantium distinctio molestiae hic, maiores eum fugit exercitationem reiciendis delectus ullam, corrupti nesciunt saepe, blanditiis earum necessitatibus excepturi natus minima voluptates.</p>
</div>

<div class="banner d-flex justify-content-center align-items-center" id="features-banner">
  <div class="text-center">
    <%# stimu %>
    <div data-controller="carousel" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
    </div>
  </div>
</div>
