<h1 class='text-center bg-white title mb-0'>The D<span style="color: #C8A323">O</span></h1>
<p class='text-center bg-white sub-h mt-0'>Do it right</p>
<div class="banner d-flex justify-content-center align-items-center" id="top-banner">
  <div class="text-center">
    <h2 class="mx-auto mb-4">Dont let your bestie down</h2>
    <%= link_to 'Plan your DO', new_user_registration_path, class: "btn-flat mb-2"%>
    <p class="mt-3">The ultimate DO planning app</p>
  </div>
</div>
<div class="feature-grid">
  <div class="d-flex justify-content-center flex-column text-center py-5 feature ">
    <i class="fa-solid fa-bars-progress"></i>
    <p>Progress Tracker</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-star"></i>
    <p>Book Activities</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-bus"></i>
    <p>Check Travel</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-utensils"></i>
    <p>Book Food</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-bed"></i>
    <p>Find Stays</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-circle-check"></i>
    <p>Perfect your Plan</p>
  </div>
</div>

<div class="banner d-flex justify-content-center align-items-center" id="features-banner">
  <div class="text-center">
      <div class="w-75 mx-auto">
        <h3>The DO Promise</h3>
        <p>We can't promise this is the only DO your bestie will ever have but with the DO, it will be the best</p>
      </div>
  </div>
</div>
