.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $red;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-left: 100px;
}

.btn-flat:hover {
  background: $fadedred;
  color: $red;
}
