.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.info-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.info-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.info-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.info-card p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.info-card .info-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
