.vl {
  border-left: 3px solid #e5b705;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
}

.top_dot {
  margin-left: auto;
  margin-right: auto;
  height: 9px;
  width: 9px;
  background-color: #e5b705;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  top: 9px;
}

.bottom_dot {
  margin-left: auto;
  margin-right: auto;
  height: 9px;
  width: 9px;
  background-color: #e5b705;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  bottom: 9px;
}
