.banner {
  width: 100vw;
  height: 70vh;
  color: white;
  // background-color: lightcyan;
}

#top-banner {
  background-image: url(hens.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
}

#features-banner {
  background-image: url(lads-out.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}
